<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.wangshun.supermarketserver.mapper.ActivityDataMapper">
  <resultMap id="BaseResultMap" type="pers.wangshun.supermarketserver.model.ActivityData">
    <id column="shop_id" jdbcType="BIGINT" property="shopId" />
    <result column="activity_name" jdbcType="VARCHAR" property="activityName" />
    <result column="activity_total_cost" jdbcType="DECIMAL" property="activityTotalCost" />
    <result column="activity_description" jdbcType="VARCHAR" property="activityDescription" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    shop_id, activity_name, activity_total_cost, activity_description
  </sql>
  <select id="selectByExample" parameterType="pers.wangshun.supermarketserver.model.ActivityDataExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from activity_data
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from activity_data
    where shop_id = #{shopId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from activity_data
    where shop_id = #{shopId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="pers.wangshun.supermarketserver.model.ActivityData">
    insert into activity_data (shop_id, activity_name, activity_total_cost, 
      activity_description)
    values (#{shopId,jdbcType=BIGINT}, #{activityName,jdbcType=VARCHAR}, #{activityTotalCost,jdbcType=DECIMAL}, 
      #{activityDescription,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="pers.wangshun.supermarketserver.model.ActivityData">
    insert into activity_data
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="shopId != null">
        shop_id,
      </if>
      <if test="activityName != null">
        activity_name,
      </if>
      <if test="activityTotalCost != null">
        activity_total_cost,
      </if>
      <if test="activityDescription != null">
        activity_description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="shopId != null">
        #{shopId,jdbcType=BIGINT},
      </if>
      <if test="activityName != null">
        #{activityName,jdbcType=VARCHAR},
      </if>
      <if test="activityTotalCost != null">
        #{activityTotalCost,jdbcType=DECIMAL},
      </if>
      <if test="activityDescription != null">
        #{activityDescription,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="pers.wangshun.supermarketserver.model.ActivityData">
    update activity_data
    <set>
      <if test="activityName != null">
        activity_name = #{activityName,jdbcType=VARCHAR},
      </if>
      <if test="activityTotalCost != null">
        activity_total_cost = #{activityTotalCost,jdbcType=DECIMAL},
      </if>
      <if test="activityDescription != null">
        activity_description = #{activityDescription,jdbcType=VARCHAR},
      </if>
    </set>
    where shop_id = #{shopId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="pers.wangshun.supermarketserver.model.ActivityData">
    update activity_data
    set activity_name = #{activityName,jdbcType=VARCHAR},
      activity_total_cost = #{activityTotalCost,jdbcType=DECIMAL},
      activity_description = #{activityDescription,jdbcType=VARCHAR}
    where shop_id = #{shopId,jdbcType=BIGINT}
  </update>
</mapper>