<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.wangshun.supermarketserver.mapper.InventoryCountingDetailsMapper">
  <resultMap id="BaseResultMap" type="pers.wangshun.supermarketserver.model.InventoryCountingDetails">
    <id column="inventory_counting_details_id" jdbcType="BIGINT" property="inventoryCountingDetailsId" />
    <result column="inventory_counting_info_number" jdbcType="BIGINT" property="inventoryCountingInfoNumber" />
    <result column="goods_bar_code" jdbcType="BIGINT" property="goodsBarCode" />
    <result column="counted_quantity" jdbcType="INTEGER" property="countedQuantity" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    inventory_counting_details_id, inventory_counting_info_number, goods_bar_code, counted_quantity
  </sql>
  <select id="selectByExample" parameterType="pers.wangshun.supermarketserver.model.InventoryCountingDetailsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from inventory_counting_details
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from inventory_counting_details
    where inventory_counting_details_id = #{inventoryCountingDetailsId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from inventory_counting_details
    where inventory_counting_details_id = #{inventoryCountingDetailsId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="pers.wangshun.supermarketserver.model.InventoryCountingDetails">
    insert into inventory_counting_details (inventory_counting_details_id, inventory_counting_info_number, 
      goods_bar_code, counted_quantity)
    values (#{inventoryCountingDetailsId,jdbcType=BIGINT}, #{inventoryCountingInfoNumber,jdbcType=BIGINT}, 
      #{goodsBarCode,jdbcType=BIGINT}, #{countedQuantity,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="pers.wangshun.supermarketserver.model.InventoryCountingDetails">
    insert into inventory_counting_details
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="inventoryCountingDetailsId != null">
        inventory_counting_details_id,
      </if>
      <if test="inventoryCountingInfoNumber != null">
        inventory_counting_info_number,
      </if>
      <if test="goodsBarCode != null">
        goods_bar_code,
      </if>
      <if test="countedQuantity != null">
        counted_quantity,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="inventoryCountingDetailsId != null">
        #{inventoryCountingDetailsId,jdbcType=BIGINT},
      </if>
      <if test="inventoryCountingInfoNumber != null">
        #{inventoryCountingInfoNumber,jdbcType=BIGINT},
      </if>
      <if test="goodsBarCode != null">
        #{goodsBarCode,jdbcType=BIGINT},
      </if>
      <if test="countedQuantity != null">
        #{countedQuantity,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="pers.wangshun.supermarketserver.model.InventoryCountingDetails">
    update inventory_counting_details
    <set>
      <if test="inventoryCountingInfoNumber != null">
        inventory_counting_info_number = #{inventoryCountingInfoNumber,jdbcType=BIGINT},
      </if>
      <if test="goodsBarCode != null">
        goods_bar_code = #{goodsBarCode,jdbcType=BIGINT},
      </if>
      <if test="countedQuantity != null">
        counted_quantity = #{countedQuantity,jdbcType=INTEGER},
      </if>
    </set>
    where inventory_counting_details_id = #{inventoryCountingDetailsId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="pers.wangshun.supermarketserver.model.InventoryCountingDetails">
    update inventory_counting_details
    set inventory_counting_info_number = #{inventoryCountingInfoNumber,jdbcType=BIGINT},
      goods_bar_code = #{goodsBarCode,jdbcType=BIGINT},
      counted_quantity = #{countedQuantity,jdbcType=INTEGER}
    where inventory_counting_details_id = #{inventoryCountingDetailsId,jdbcType=BIGINT}
  </update>
</mapper>