<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.wangshun.supermarketserver.mapper.WarehouseInfoMapper">
  <resultMap id="BaseResultMap" type="pers.wangshun.supermarketserver.model.WarehouseInfo">
    <id column="warehouse_code" jdbcType="BIGINT" property="warehouseCode" />
    <result column="warehouse_name" jdbcType="VARCHAR" property="warehouseName" />
    <result column="warehouse_location" jdbcType="VARCHAR" property="warehouseLocation" />
    <result column="warehouse_description" jdbcType="VARCHAR" property="warehouseDescription" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    warehouse_code, warehouse_name, warehouse_location, warehouse_description
  </sql>
  <select id="selectByExample" parameterType="pers.wangshun.supermarketserver.model.WarehouseInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from management_sys.warehouse_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from management_sys.warehouse_info
    where warehouse_code = #{warehouseCode,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from management_sys.warehouse_info
    where warehouse_code = #{warehouseCode,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="pers.wangshun.supermarketserver.model.WarehouseInfo">
    insert into management_sys.warehouse_info (warehouse_code, warehouse_name, warehouse_location,
      warehouse_description)
    values (#{warehouseCode,jdbcType=BIGINT}, #{warehouseName,jdbcType=VARCHAR}, #{warehouseLocation,jdbcType=VARCHAR}, 
      #{warehouseDescription,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="pers.wangshun.supermarketserver.model.WarehouseInfo">
    insert into management_sys.warehouse_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="warehouseCode != null">
        warehouse_code,
      </if>
      <if test="warehouseName != null">
        warehouse_name,
      </if>
      <if test="warehouseLocation != null">
        warehouse_location,
      </if>
      <if test="warehouseDescription != null">
        warehouse_description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="warehouseCode != null">
        #{warehouseCode,jdbcType=BIGINT},
      </if>
      <if test="warehouseName != null">
        #{warehouseName,jdbcType=VARCHAR},
      </if>
      <if test="warehouseLocation != null">
        #{warehouseLocation,jdbcType=VARCHAR},
      </if>
      <if test="warehouseDescription != null">
        #{warehouseDescription,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="pers.wangshun.supermarketserver.model.WarehouseInfo">
    update management_sys.warehouse_info
    <set>
      <if test="warehouseName != null">
        warehouse_name = #{warehouseName,jdbcType=VARCHAR},
      </if>
      <if test="warehouseLocation != null">
        warehouse_location = #{warehouseLocation,jdbcType=VARCHAR},
      </if>
      <if test="warehouseDescription != null">
        warehouse_description = #{warehouseDescription,jdbcType=VARCHAR},
      </if>
    </set>
    where warehouse_code = #{warehouseCode,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="pers.wangshun.supermarketserver.model.WarehouseInfo">
    update management_sys.warehouse_info
    set warehouse_name = #{warehouseName,jdbcType=VARCHAR},
      warehouse_location = #{warehouseLocation,jdbcType=VARCHAR},
      warehouse_description = #{warehouseDescription,jdbcType=VARCHAR}
    where warehouse_code = #{warehouseCode,jdbcType=BIGINT}
  </update>
</mapper>